# ==========================================
# FILE DI CONFIGURAZIONE E SICUREZZA
# ==========================================
.env
.env.local
.env.*.local

# ==========================================
# DIPENDENZE (Es. Node.js)
# ==========================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================================
# FILE DI SISTEMA OPERATIVO
# ==========================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# ==========================================
# EDITOR E IDE
# ==========================================
.vscode/

# ==========================================
# LOG E FILE TEMPORANEI
# ==========================================
logs/
*.log
npm-debug.log*

# FILE TODO

TODO.md