/* font Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* colori */
:root {
  --parkly-blue:        #185095;
  --parkly-white:       #fffdf2;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--parkly-white);
  color: var(--parkly-text-dark);
  margin: 0;
}